@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html
{
    width: 100%;
    height: 100%;
}

body
{
    background-image: linear-gradient(45deg, #557B83, #39AEA9, #A2D5AB, #caf0b4);
    background-size: 250%;
    animation: colors 15s ease;
}

@keyframes colors
{
    0%
    {
        background-position: 0, 50%;
    }

    50%
    {
        background-position: 100%, 50%;
    }

    100%
    {
        background-position: 0%, 50%;
    }
}

header
{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, #1c1d20, #18181b, #1a1a1f); /*#24252A*/
    box-shadow: 0px 4px 13px #0000003b;
}

h1#title
{
    text-align: center;
    font-family: 'Kanit', Arial, Helvetica, monospace, sans-serif;
    font-weight: 300;
    overflow: hidden;
    color: greenyellow;
}

h1#titulo
{
    text-align: center;
    font-family: 'Nanum Ghotic', Arial, Helvetica, monospace, sans-serif;
    margin-top: 50px;
    font-size: 50px;
    color: rgb(20, 155, 20);
}

div#flex
{
    display: flex;
    justify-content: center;
}

div.items
{
   margin-top: 150px;
   box-shadow: 3px 3px 7px #00000038;
}

div.items button
{
    width: 170px;
    height: 160px;
    border: none;
    font-family: 'Kanit', Arial, Helvetica, monospace, sans-serif;
    font-size: 25px;
    font-weight: 300;
}

div.items button#sim
{
    background-color: rgb(78, 170, 78);
    color: rgb(0, 238, 255);
    box-shadow: inset 4px 4px 13px #1d831d
}

div.items button#nao
{
    background-color: rgb(253, 85, 63);
    color: rgb(0, 238, 255);
    box-shadow: inset 4px 4px 13px #fd1818;
}

div.items button#sim:hover
{
    background-color: rgb(84, 160, 84);
    cursor: pointer;
    color: rgb(0, 255, 234);
}

div.items button#nao:hover
{
    background-color: rgb(223, 78, 59);
    color: rgb(0, 255, 234);
    cursor: pointer;
}

div.items button#sim:active
{
    cursor: default;
    background-color: rgb(78, 170, 78);
    color: rgb(0, 238, 255);
}

div.items button#nao:active
{
    cursor: default;
    background-color: rgb(253, 85, 63);
    color: rgb(0, 238, 255);
}

div#audio
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
}